:root {
    --bg-color-dark:#212121;
    --bg-color-normal:#999;
    --bg-color-light:#f1f1f1;
    --shadow-color: rgba(17, 17, 17, 0.8);
    --text-color-dark: #111;
    --text-color-light: #ddd;
    --text-color-hover: #fff;
    --text-color-link: #022;
  }

* {
    margin: 0;
    padding: 0;
  }

html{
    height: 100%;
}

body{
    background-color: var(--bg-color-normal);
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "footer";
    grid-template-rows: auto auto 1fr auto;      
    height: 100%;
}

/* Header */

header{
    grid-area: header;
    display: grid;
    grid-template-areas:
    "hd0 hd1 hd2";
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

header #portrait{
    grid-area: hd0;
    border-radius: 256px;
    border: 2px solid #000;
    margin: 16px;
    box-shadow: 3px 3px 10px;
    justify-self: center;
}

header #header-text{
    grid-area: hd1;
    text-align: center;
    align-self: center;
}

header #header-text h1{
    font-size: 4rem;
    margin: -1rem 1rem 1rem 1rem;
    color: var(--text-color-dark);
    text-shadow: 2px 2px 3px var(--shadow-color); 
}

header #header-text hr{
    margin: 1rem;
    border: 1px solid black;
    box-shadow: 2px 2px 3px var(--shadow-color);
}

header #header-text h3{
    margin: 1.5rem;
    color: var(--text-color-dark);
    text-shadow: 1px 1px 2px var(--shadow-color); 
}

header #header-icons{
    grid-area: hd2;
    align-self: center;
    justify-self: center;
}

header #header-icons div{
    margin: 2rem;  
}

header #header-icons a{
    text-decoration: none;
    transition: all .2s ease-in-out;
}

header #header-icons a p, header #header-icons a svg{
    color: var(--text-color-dark);
    text-shadow: 1px 1px 2px var(--shadow-color); 
}

header #header-icons a:hover{
    text-decoration: none;
    transform: scale(1.4);
}

header #header-icons a:hover p, header #header-icons a:hover svg{
    color: var(--text-color-light);
}


header #header-icons p{
    display: inline;
    color: var(--text-color-dark);
    position: relative;
    bottom: 0.3rem;
    font-size: 2rem;
}

header #header-icons svg{
    width: 2rem;
    height: 2rem;
    color: var(--text-color-dark)
}

/* Navigation */

nav{
    grid-area: nav;
    display: grid;
    grid-template-areas:
    "nav0 nav1 nav2 nav3 nav4";
    background-color: var(--bg-color-dark);
    height: 64px;
    justify-items: center;
    align-items: center;
    box-shadow: 0 2px 5px var(--shadow-color), 0 -2px 5px var(--shadow-color);
    z-index: 1;
}

nav a{
    color: var(--text-color-light);
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 3px 3px 3px #000;
    width: 64px;
    transition: all .2s ease-in-out;
}

nav a:hover{
    color: var(--text-color-hover);
    transform: scale(1.4);
}

nav #nav-home{
    grid-area: nav1;
}

nav #nav-about{
    grid-area: nav2;
}

nav #nav-projects{
    grid-area: nav3;
}

/* Content */

#content{
    grid-area: content;
    background-color: var(--bg-color-light);
    padding: 4rem 6rem;
}

#content .content-main-header{
    margin-bottom: 5rem;
}

#content .project-container{
    margin: 2rem 5rem;
}

#content .project-container p{
    font-size: 1.2rem;
    text-align: justify;
}

#content .project-container p a{
    color: var(--text-color-dark);
}

#content .project-container .block{
    display: block;
}

#content .project-container .play-link{  
    margin: 0 0 2rem 1rem;
    display: block;
    font-size: 1.5rem;
    color: var(--text-color-link);
    font-weight: bold;
    transition: all .2s ease-in-out;
    display: inline-block;
}

#content .project-container .play-link:hover{  
    transform: scale(1.2);
}

#content hr{
    border-color: var(--text-color-dark);
    box-shadow: 2px 2px 3px var(--shadow-color);
}


#content h1{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 3rem;
    color: var(--text-color-dark);
}

#content h2{
    padding: 2rem 0 2rem 0;
    font-size: 2rem;
    color: var(--text-color-dark);
    text-decoration: underline;
}

#content ul{
    padding: 0 0rem 2rem 0;
    margin-left: 2rem;
}

#content ul li{
    font-size: 1.2rem;
}

#content iframe{
    margin-bottom: 3rem;
}

#content .game-image{
    max-width: 30vw;
    margin: 1rem;
}


/* Footer */

footer{
    height: 48px;
    width: 100%;
    grid-area: footer;
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    text-shadow: 3px 3px 3px #000;
    text-align: center;
    line-height: 48px;
    box-shadow: 0 -2px 5px var(--shadow-color);
    z-index: 1;   
}

/* Responsiveness */

@media only screen and (max-width: 768px){
    
    header{
        grid-template-areas:
        "hd0"
        "hd1"
        "hd2";
        grid-template-rows: 30vh 45vh 15vh;
        grid-template-columns: none;
        height: 90vh;
    }

    header #header-text{
        grid-area: hd0;
        text-align: center;
        align-self: start;
    }

    header #header-text h1{
        font-size: 3rem;
        margin: 2rem 1rem;
        text-shadow: 2px 2px 3px var(--shadow-color); 
    }
    
    header #header-text hr{
        margin: 0 1.5rem;
        border: 1px solid black;
        box-shadow: 2px 2px 3px var(--shadow-color);
    }
    
    header #header-text h3{
        margin: 1.5rem 0 1.5rem 0;
        text-shadow: 1px 1px 2px var(--shadow-color); 
        font-size: 1rem;
    }

    header #portrait{
        justify-self: center;
        grid-area: hd1;
        margin: 1.5rem 1rem 1rem 1rem;
        height: 90%;
    }

    header #header-icons{
        grid-area: hd2;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    header #header-icons div{
        margin: 2rem 1rem;
    }

    nav{
        height: 10vh;
    }
       
    #content{
        padding: 2rem;
    }

    #content .content-main-header{
        margin-bottom: 40px;
    }

    #content *{
        padding: 0;      
    }

    #content h1{
        text-align: center;
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }

    #content h2{
        text-align: center;
    }

    #content .project-container{
        margin: 0;
        justify-content: center;
        justify-items: center;
        
    }

    #content .project-container iframe{
        width: 80%;
        height: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #content .game-image{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #content .project-container .play-link{  
        text-align: center;
        transition: none;

    }

    #content .project-container .play-link:hover{  
        transform: none;
    }

    
}





